<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<link rel="shortcut icon" type="image/png" href="../static/pickup_icon.png" />
<link rel="stylesheet" type="text/css"  href="../static/css/pickup_main.css"  />
<title>追TA后台管理系统</title>
</head>

<body>
	<div class="inner_main_wrap list_adver">
		<div class="mod_info_box mod_info_adver">
        	<ul id="J_mod_adver">
				<li>
                	<label for="adver11">横幅广告位1图片标题：</label>
                    <input type="text" id="adver11" class="file_title" value="" />
                </li>
            	<li>
					<input type="hidden" class="file_id" value="" />
                	<label for="adver12">横幅广告位1图片URL：</label>
                    <input type="text" id="adver12" class="file_path" value="" />
                </li>
				<li class="link_li">
                	<label for="adver13">横幅广告位1图片链接：</label>
                    <input type="text" id="adver13" class="file_link" value="" />
                </li>
				<li>
                	<label for="adver21">横幅广告位2图片标题：</label>
                    <input type="text" id="adver21" class="file_title" value="" />
                </li>
                <li>
					<input type="hidden" class="file_id" value="" />
                	<label for="adver22">横幅广告位2图片URL：</label>
                    <input type="text" id="adver22" class="file_path" value="" />
                </li>
				<li class="link_li">
                	<label for="adver23">横幅广告位2图片链接：</label>
                    <input type="text" id="adver23" class="file_link" value="" />
                </li>
				<li>
                	<label for="adver31">横幅广告位3图片标题：</label>
                    <input type="text" id="adver31" class="file_title" value="" />
                </li>
                <li>
					<input type="hidden" class="file_id" value="" />
                	<label for="adver32">横幅广告位3图片URL：</label>
                    <input type="text" id="adver32" class="file_path" value="" />
                </li>
				<li class="link_li">
                	<label for="adver33">横幅广告位3图片链接：</label>
                    <input type="text" id="adver33" class="file_link" value="" />
                </li>
				<li>
                	<label for="adver41">横幅广告位4图片标题：</label>
                    <input type="text" id="adver41" class="file_title" value="" />
                </li>
                <li>
					<input type="hidden" class="file_id" value="" />
                	<label for="adver42">横幅广告位4图片URL：</label>
                    <input type="text" id="adver42" class="file_path" value="" />
                </li>
				<li class="link_li">
                	<label for="adver43">横幅广告位4图片链接：</label>
                    <input type="text" id="adver43" class="file_link" value="" />
                </li>
            </ul>
        </div>
		<a href="javascript:;" class="btn mod_info_btn btn_disable" id="J_adver_save">保存</a>
	</div>
<script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>	
<script type="text/javascript" src="../static/js/core.js"></script>	
<script type="text/javascript" src="../static/js/adver_set.js"></script>
</body>
</html>