<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<link rel="shortcut icon" type="image/png" href="../static/pickup_icon.png" />
<link rel="stylesheet" type="text/css"  href="../static/css/pickup_main.css"  />
<title>追TA后台管理系统</title>
</head>

<body>
	 <div class="inner_main_wrap exchange_orders">
		<ul id="J_exchange_orders">
			<li class="title">
				<span class="name">兑换人</span>
				<span class="product">物品</span>
				<span class="address">地址</span>
				<span class="phone">电话</span>
<!--				<span class="amount">数量</span>-->
				<span class="order_date">时间</span>
				<span class="status">状态</span>
			</li>
<!--			<li>
				<span class="name">兑换人兑换人</span>
				<span class="product">IPhone 5s</span>
				<span class="address">静安寺路123弄123号1231室</span>
				<span class="phone">18502120533</span>
				<span class="amount">123</span>
				<span class="status">成功</span>
			</li>-->
		</ul>
		<div class="complain_page_wrap">
<!--			<a value="1" href="javascript:;" class="page_cur">1</a>
			<a value="2" href="javascript:;">2</a>
			<a value="3" href="javascript:;">3</a>
			<a value="4" href="javascript:;">4</a>
			<a value="5" href="javascript:;">5</a>-->
		</div>
	</div>
<script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>	
<script type="text/javascript" src="../static/js/core.js"></script>	
<script type="text/javascript" src="../static/js/exchange_orders.js"></script>
</body>
</html>