<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<link rel="shortcut icon" type="image/png" href="../static/pickup_icon.png" />
<link rel="stylesheet" type="text/css"  href="../static/css/pickup_main.css"  />
<title>追TA后台管理系统</title>
</head>

<body>
	<div class="inner_main_wrap management_wrap">
		<h1>礼物管理</h1>
		<a class="btn manage_btn_new" href="javascript:;">新增</a>
		<ul class="gift_box">
			<li class="title">
				<div class="gift_num">排序</div>
				<div class="gift_name">名称</div>
				<div class="gift_pic1">小图</div>
				<div class="gift_pic2">大图</div>
				<div class="gift_price">价格</div>
				<div class="gift_unit">单位</div>
				<div class="gift_coupon">礼券</div>
				<div class="gift_credit">积分</div>
			</li>
		<!--
			<li class="content">
				<input type="text" class="gift_num" value="1" />
				<input type="text" class="gift_name" value="玫瑰" />
				<input type="text" class="gift_pic1" value="http://www.daxiangce123.com" />
				<input type="text" class="gift_pic2" value="http://www.daxiangce123.com" />
				<input type="text" class="gift_price" value="9999" />
				<input type="text" class="gift_unit" value="" />
				<a class="delete_gift" href="javascript:;">删除</a>
			</li>
			<li class="content">
				<input type="text" class="gift_num" value="1" />
				<input type="text" class="gift_name" value="玫瑰" />
				<input type="text" class="gift_pic1" value="http://www.daxiangce123.com" />
				<input type="text" class="gift_pic2" value="http://www.daxiangce123.com" />
				<input type="text" class="gift_price" value="9999" />
				<input type="text" class="gift_unit" value="" />
				<a class="delete_gift" href="javascript:;">删除</a>
			</li>
			<li class="content">
				<input type="text" class="gift_num" value="1" />
				<input type="text" class="gift_name" value="玫瑰" />
				<input type="text" class="gift_pic1" value="http://www.daxiangce123.com" />
				<input type="text" class="gift_pic2" value="http://www.daxiangce123.com" />
				<input type="text" class="gift_price" value="9999" />
				<input type="text" class="gift_unit" value="" />
				<a class="delete_gift" href="javascript:;">删除</a>
			</li>
			<li class="content">
				<input type="text" class="gift_num" value="1" />
				<input type="text" class="gift_name" value="玫瑰" />
				<input type="text" class="gift_pic1" value="http://www.daxiangce123.com" />
				<input type="text" class="gift_pic2" value="http://www.daxiangce123.com" />
				<input type="text" class="gift_price" value="9999" />
				<input type="text" class="gift_unit" value="" />
				<a class="delete_gift" href="javascript:;">删除</a>
			</li>
			<li class="content">
				<input type="text" class="gift_num" value="1" />
				<input type="text" class="gift_name" value="玫瑰" />
				<input type="text" class="gift_pic1" value="http://www.daxiangce123.com" />
				<input type="text" class="gift_pic2" value="http://www.daxiangce123.com" />
				<input type="text" class="gift_price" value="9999" />
				<input type="text" class="gift_unit" value="" />
				<a class="delete_gift" href="javascript:;">删除</a>
			</li>
			<li class="content">
				<input type="text" class="gift_num" value="1" />
				<input type="text" class="gift_name" value="玫瑰" />
				<input type="text" class="gift_pic1" value="http://www.daxiangce123.com" />
				<input type="text" class="gift_pic2" value="http://www.daxiangce123.com" />
				<input type="text" class="gift_price" value="9999" />
				<input type="text" class="gift_unit" value="" />
				<a class="delete_gift" href="javascript:;">删除</a>
			</li>
		-->
		</ul>
		<div class="gift_page_wrap hide"></div>
		<!--
		<a class="btn manage_btn_mod" href="javascript:;">保存修改</a>
		-->
	</div>
	
<script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>	
<script type="text/javascript" src="../static/js/core.js"></script>	
<script type="text/javascript" src="../static/js/gift_manage.js"></script>
</body>
</html>