<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<link rel="shortcut icon" type="image/png" href="../static/pickup_icon.png" />
<link rel="stylesheet" type="text/css"  href="../static/css/pickup_main.css"  />
<title>追TA后台管理系统</title>
</head>

<body>
	<div class="inner_main_wrap">
    	<a class="btn add_list_btn" href="javascript:;">新增榜单</a>
    	<div class="list_detail_wrap">
        	<ul id="J_list_detail">
            	<li class="list_title">
                	<div class="list_id">ID</div>
                    <div class="list_no">期数</div>
                    <div class="list_name">名称</div>
                    <div class="start_time">开始时间</div>
                    <div class="end_time">结束时间</div>
                    <div class="status">状态</div>
                   	<div class="operate">操作</div>
                </li>
            </ul>
        </div>
    </div>
<script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>	
<script type="text/javascript" src="../static/js/core.js"></script>	
<script type="text/javascript" src="../static/js/list_detail.js"></script>
</body>
</html>