<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<link rel="shortcut icon" type="image/png" href="../static/pickup_icon.png" />
<link rel="stylesheet" type="text/css"  href="../static/css/pickup_main.css"  />
<title>追TA后台管理系统</title>
</head>

<body>
	<div class="inner_main_wrap management_wrap">
		<h1>通知管理</h1>
		<a class="btn manage_btn_new" href="javascript:;">新增</a>
		<ul class="notice_box">
			<li class="title">
				<div class="notice_num">序号</div>
				<div class="notice_title">标题</div>
				<div class="notice_page">页面</div>
				<div class="notice_date">日期</div>
			</li>
		<!--
			<li class="content">
				<div class="notice_num">1</div>
				<input type="text" class="notice_title" value="撩菜功能上线" />
				<input type="text" class="notice_page" value="http://www.daxiangce123.com" />
				<input type="text" class="notice_date" value="20140418" />
				<a class="delete_gift" href="javascript:;">删除</a>
			</li>
			<li class="content">
				<div class="notice_num">1</div>
				<input type="text" class="notice_title" value="撩菜功能上线" />
				<input type="text" class="notice_page" value="http://www.daxiangce123.com" />
				<input type="text" class="notice_date" value="20140418" />
				<a class="delete_gift" href="javascript:;">删除</a>
			</li>
			<li class="content">
				<div class="notice_num">1</div>
				<input type="text" class="notice_title" value="撩菜功能上线" />
				<input type="text" class="notice_page" value="http://www.daxiangce123.com" />
				<input type="text" class="notice_date" value="20140418" />
				<a class="delete_gift" href="javascript:;">删除</a>
			</li>
			<li class="content">
				<div class="notice_num">1</div>
				<input type="text" class="notice_title" value="撩菜功能上线" />
				<input type="text" class="notice_page" value="http://www.daxiangce123.com" />
				<input type="text" class="notice_date" value="20140418" />
				<a class="delete_gift" href="javascript:;">删除</a>
			</li><li class="content">
				<div class="notice_num">1</div>
				<input type="text" class="notice_title" value="撩菜功能上线" />
				<input type="text" class="notice_page" value="http://www.daxiangce123.com" />
				<input type="text" class="notice_date" value="20140418" />
				<a class="delete_gift" href="javascript:;">删除</a>
			</li>
			<li class="content">
				<div class="notice_num">1</div>
				<input type="text" class="notice_title" value="撩菜功能上线" />
				<input type="text" class="notice_page" value="http://www.daxiangce123.com" />
				<input type="text" class="notice_date" value="20140418" />
				<a class="delete_gift" href="javascript:;">删除</a>
			</li>
		-->
		</ul>
		<div class="notice_page_wrap hide"></div>
		<!--<a class="btn manage_btn_mod" href="javascript:;">保存修改</a>-->
	</div>
<script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>	
<script type="text/javascript" src="../static/js/core.js"></script>	
<script type="text/javascript" src="../static/js/notice_manage.js"></script>	
</body>
</html>