<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<link rel="shortcut icon" type="image/png" href="../static/pickup_icon.png" />
<link rel="stylesheet" type="text/css"  href="../static/css/pickup_main.css"  />
<title>追TA后台管理系统</title>
</head>

<body>
	 <div class="inner_main_wrap photo_check">
    	<div class="abatch_action">
        	<span>批量操作</span>
            <a class="btn" href="javascript:;" id="J_select_all">全选</a>
            <a class="btn" href="javascript:;" id="J_list_pass">通过</a>
            <a class="btn" href="javascript:;" id="J_list_delete">删除</a>
            <a class="btn" href="javascript:;" id="J_list_block">封号</a>
        </div>
        <div id="J_complain_wrap" class="complain_wrap">
			<div id="J_blank_complain" class="blank_complain hide">没有任何举报数据</div>
        	<ul class="hide">
            	<!--<li>
                	<input type="checkbox" autocomplete="off" name="select" class="complain_select" />
                    <div class="photo_box">
                    	<img src="../static/images/avatar.jpg" />
                    </div>
                    <div class="user_info">
                    	<p class="complain_time">被举报次数：{num}</p>
                        <p class="complain_gender">性别：女</p>
                        <div class="opration_btn_box">
                        	<a class="btn" href="javascript:;">通过</a>
            				<a class="btn" href="javascript:;">删除</a>
            				<a class="btn" href="javascript:;">封号</a>
                        </div>
                    </div>
                </li>
                <li>
					<input type="checkbox" autocomplete="off" name="select" class="complain_select" />
                    <div class="photo_box">
                    	<img src="../static/images/avatar.jpg" />
                    </div>
                    <div class="user_info">
                    	<p class="complain_time">被举报次数：{num}</p>
                        <p class="complain_gender">性别：女</p>
                        <div class="opration_btn_box">
                        	<a class="btn" href="javascript:;">通过</a>
            				<a class="btn" href="javascript:;">删除</a>
            				<a class="btn" href="javascript:;">封号</a>
                        </div>
                    </div>
				</li>
                <li>
                	<input type="checkbox" autocomplete="off" name="select" class="complain_select" />
                    <div class="photo_box">
                    	<img src="../static/images/avatar.jpg" />
                    </div>
                    <div class="user_info">
                    	<p class="complain_time">被举报次数：{num}</p>
                        <p class="complain_gender">性别：女</p>
                        <div class="opration_btn_box">
                        	<a class="btn" href="javascript:;">通过</a>
            				<a class="btn" href="javascript:;">删除</a>
            				<a class="btn" href="javascript:;">封号</a>
                        </div>
                    </div>
                </li>
                <li>
					<input type="checkbox" autocomplete="off" name="select" class="complain_select" />
                    <div class="photo_box">
                    	<img src="../static/images/avatar.jpg" />
                    </div>
                    <div class="user_info">
                    	<p class="complain_time">被举报次数：{num}</p>
                        <p class="complain_gender">性别：女</p>
                        <div class="opration_btn_box">
                        	<a class="btn" href="javascript:;">通过</a>
            				<a class="btn" href="javascript:;">删除</a>
            				<a class="btn" href="javascript:;">封号</a>
                        </div>
                    </div>
				</li>
				<li>
                	<input type="checkbox" autocomplete="off" name="select" class="complain_select" />
                    <div class="photo_box">
                    	<img src="../static/images/avatar.jpg" />
                    </div>
                    <div class="user_info">
                    	<p class="complain_time">被举报次数：{num}</p>
                        <p class="complain_gender">性别：女</p>
                        <div class="opration_btn_box">
                        	<a class="btn" href="javascript:;">通过</a>
            				<a class="btn" href="javascript:;">删除</a>
            				<a class="btn" href="javascript:;">封号</a>
                        </div>
                    </div>
                </li>
                <li>
					<input type="checkbox" autocomplete="off" name="select" class="complain_select" />
                    <div class="photo_box">
                    	<img src="../static/images/avatar.jpg" />
                    </div>
                    <div class="user_info">
                    	<p class="complain_time">被举报次数：{num}</p>
                        <p class="complain_gender">性别：女</p>
                        <div class="opration_btn_box">
                        	<a class="btn" href="javascript:;">通过</a>
            				<a class="btn" href="javascript:;">删除</a>
            				<a class="btn" href="javascript:;">封号</a>
                        </div>
                    </div>
				</li>
				<li>
                	<input type="checkbox" autocomplete="off" name="select" class="complain_select" />
                    <div class="photo_box">
                    	<img src="../static/images/avatar.jpg" />
                    </div>
                    <div class="user_info">
                    	<p class="complain_time">被举报次数：{num}</p>
                        <p class="complain_gender">性别：女</p>
                        <div class="opration_btn_box">
                        	<a class="btn" href="javascript:;">通过</a>
            				<a class="btn" href="javascript:;">删除</a>
            				<a class="btn" href="javascript:;">封号</a>
                        </div>
                    </div>
                </li>
                <li>
					<input type="checkbox" autocomplete="off" name="select" class="complain_select" />
                    <div class="photo_box">
                    	<img src="../static/images/avatar.jpg" />
                    </div>
                    <div class="user_info">
                    	<p class="complain_time">被举报次数：{num}</p>
                        <p class="complain_gender">性别：女</p>
                        <div class="opration_btn_box">
                        	<a class="btn" href="javascript:;">通过</a>
            				<a class="btn" href="javascript:;">删除</a>
            				<a class="btn" href="javascript:;">封号</a>
                        </div>
                    </div>
				</li>
				<li>
                	<input type="checkbox" autocomplete="off" name="select" class="complain_select" />
                    <div class="photo_box">
                    	<img src="../static/images/avatar.jpg" />
                    </div>
                    <div class="user_info">
                    	<p class="complain_time">被举报次数：{num}</p>
                        <p class="complain_gender">性别：女</p>
                        <div class="opration_btn_box">
                        	<a class="btn" href="javascript:;">通过</a>
            				<a class="btn" href="javascript:;">删除</a>
            				<a class="btn" href="javascript:;">封号</a>
                        </div>
                    </div>
                </li>-->
            </ul>
        </div>
		<div class="complain_page_wrap hide">
		</div>
	</div>
<script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>	
<script type="text/javascript" src="../static/js/core.js"></script>	
<script type="text/javascript" src="../static/js/photo_check.js"></script>	
</body>
</html>