<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<link rel="shortcut icon" type="image/png" href="../static/pickup_icon.png" />
<link rel="stylesheet" type="text/css"  href="../static/css/pickup_main.css"  />
<title>追TA后台管理系统</title>
</head>

<body>
	<div class="inner_main_wrap pk_list">
    	<div class="list_type">
			<label for="type_num">榜单性别选择：</label>
        	<select onchange="type_num_change()" id="J_type_num" class="type_num" name="type_num">
                <option state="0" value="female">女</option>
				<option state="0" value="male">男</option>
			</select>
        </div>
		 <div class="list_result">
            <ul id="result_box">
            	<li class="title">
                	<div class="pk_no">No</div>
                    <div class="initiator">发起者</div>
					<div class="vs">VS</div>
                    <div class="acceptor">接受者</div>
					<!--
                    <a href="javascript:;" class="delete_pk">删除</a>
                    <a href="javascript:;" class="update_pk">修改</a>
					-->
                </li>
            </ul>
        </div>
		<div class="pk_list_page_wrap">
		</div>
	</div>
<script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>	
<script type="text/javascript" src="../static/js/core.js"></script>	
<script type="text/javascript" src="../static/js/pk_list_manage.js"></script>	
</body>
</html>