<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<link rel="shortcut icon" type="image/png" href="../static/pickup_icon.png" />
<link rel="stylesheet" type="text/css"  href="../static/css/pickup_main.css"  />
<title>追TA后台管理系统</title>
</head>

<body>
	<div class="inner_main_wrap user_feedback">
		<ul id="J_user_feedback">
			<li class="title">
				<span class="name">昵称</span>
				<span class="app">平台</span>
				<span class="client">客户端版本</span>
				<span class="server">服务端版本</span>
				<span class="content">内容</span>
				<span class="time">时间</span>
			</li>
<!--			<li>
				<span class="name">昵称</span>
				<span class="app">android</span>
				<span class="client">2.1.1.2</span>
				<span class="server">2.0</span>
				<span class="content">速度不够快速12121212111111111111111111111111111111111111度不够快速度不够快</span>
				<span class="time">2014-07-11 11:10</span>
			</li>-->
		</ul>
		<div class="complain_page_wrap">
<!--			<a value="1" href="javascript:;" class="page_cur">1</a>
			<a value="2" href="javascript:;">2</a>
			<a value="3" href="javascript:;">3</a>
			<a value="4" href="javascript:;">4</a>
			<a value="5" href="javascript:;">5</a>-->
		</div>
	</div>
<script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>	
<script type="text/javascript" src="../static/js/core.js"></script>	
<script type="text/javascript" src="../static/js/user_feedback.js"></script>
</body>
</html>