<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<link rel="shortcut icon" type="image/png" href="../static/pickup_icon.png" />
<link rel="stylesheet" type="text/css"  href="../static/css/pickup_app.css"  />
<title>追TA后台管理系统</title>
</head>

<body>
	<div class="inner_main_wrap">
        <a href="javascript:;" class="btn btn_white btn_add_banner" id="J_add_version">新增</a>
        <ul class="common_list version_list" id="J_version_list">
        	<li class="title">
				<span class="seq_num">序号</span>
				<span class="version_num">版本号</span>
                <span class="type">类型</span>
                <span class="status">状态</span>
                <span class="operation">操作</span>
            </li>
<!--			<li class="content">
				<span class="seq_num">12311</span>
				<span class="version_num">1.5.1</span>
                <span class="type">android</span>
                <span class="status">开</span>
                <span class="operation">
					<a class="change" href="javascript:;">关闭</a>
					<a class="delete" href="javascript:;">删除</a>
				</span>
            </li>
			<li class="content">
				<span class="seq_num">12311</span>
				<span class="version_num">1.5.1</span>
                <span class="type">android</span>
                <span class="status">开</span>
                <span class="operation">
					<a class="change" href="javascript:;">关闭</a>
					<a class="delete" href="javascript:;">删除</a>
				</span>
            </li>
			<li class="content">
				<span class="seq_num">12311</span>
				<span class="version_num">1.5.1</span>
                <span class="type">android</span>
                <span class="status">开</span>
                <span class="operation">
					<a class="change" href="javascript:;">关闭</a>
					<a class="delete" href="javascript:;">删除</a>
				</span>
            </li>
			<li class="content">
				<span class="seq_num">12311</span>
				<span class="version_num">1.5.1</span>
                <span class="type">android</span>
                <span class="status">开</span>
                <span class="operation">
					<a class="change" href="javascript:;">关闭</a>
					<a class="delete" href="javascript:;">删除</a>
				</span>
            </li>
			<li class="content">
				<span class="seq_num">12311</span>
				<span class="version_num">1.5.1</span>
                <span class="type">android</span>
                <span class="status">开</span>
                <span class="operation">
					<a class="change" href="javascript:;">关闭</a>
					<a class="delete" href="javascript:;">删除</a>
				</span>
            </li>
			<li class="content">
				<span class="seq_num">12311</span>
				<span class="version_num">1.5.1</span>
                <span class="type">android</span>
                <span class="status">开</span>
                <span class="operation">
					<a class="change" href="javascript:;">关闭</a>
					<a class="delete" href="javascript:;">删除</a>
				</span>
            </li>
			<li class="content">
				<span class="seq_num">12311</span>
				<span class="version_num">1.5.1</span>
                <span class="type">android</span>
                <span class="status">开</span>
                <span class="operation">
					<a class="change" href="javascript:;">关闭</a>
					<a class="delete" href="javascript:;">删除</a>
				</span>
            </li>
			<li class="content">
				<span class="seq_num">12311</span>
				<span class="version_num">1.5.1</span>
                <span class="type">android</span>
                <span class="status">开</span>
                <span class="operation">
					<a class="change" href="javascript:;">关闭</a>
					<a class="delete" href="javascript:;">删除</a>
				</span>
            </li>
			<li class="content">
				<span class="seq_num">12311</span>
				<span class="version_num">1.5.1</span>
                <span class="type">android</span>
                <span class="status">开</span>
                <span class="operation">
					<a class="change" href="javascript:;">关闭</a>
					<a class="delete" href="javascript:;">删除</a>
				</span>
            </li>
			<li class="content">
				<span class="seq_num">12311</span>
				<span class="version_num">1.5.1</span>
                <span class="type">android</span>
                <span class="status">开</span>
                <span class="operation">
					<a class="change" href="javascript:;">关闭</a>
					<a class="delete" href="javascript:;">删除</a>
				</span>
            </li>
			<li class="content">
				<span class="seq_num">12311</span>
				<span class="version_num">1.5.1</span>
                <span class="type">android</span>
                <span class="status">开</span>
                <span class="operation">
					<a class="change" href="javascript:;">关闭</a>
					<a class="delete" href="javascript:;">删除</a>
				</span>
            </li>
			<li class="content">
				<span class="seq_num">12311</span>
				<span class="version_num">1.5.1</span>
                <span class="type">android</span>
                <span class="status">开</span>
                <span class="operation">
					<a class="change" href="javascript:;">关闭</a>
					<a class="delete" href="javascript:;">删除</a>
				</span>
            </li>
			<li class="content">
				<span class="seq_num">12311</span>
				<span class="version_num">1.5.1</span>
                <span class="type">android</span>
                <span class="status">开</span>
                <span class="operation">
					<a class="change" href="javascript:;">关闭</a>
					<a class="delete" href="javascript:;">删除</a>
				</span>
            </li>
			<li class="content">
				<span class="seq_num">12311</span>
				<span class="version_num">1.5.1</span>
                <span class="type">android</span>
                <span class="status">开</span>
                <span class="operation">
					<a class="change" href="javascript:;">关闭</a>
					<a class="delete" href="javascript:;">删除</a>
				</span>
            </li>
			<li class="content">
				<span class="seq_num">12311</span>
				<span class="version_num">1.5.1</span>
                <span class="type">android</span>
                <span class="status">开</span>
                <span class="operation">
					<a class="change" href="javascript:;">关闭</a>
					<a class="delete" href="javascript:;">删除</a>
				</span>
            </li>
			<li class="content">
				<span class="seq_num">12311</span>
				<span class="version_num">1.5.1</span>
                <span class="type">android</span>
                <span class="status">开</span>
                <span class="operation">
					<a class="change" href="javascript:;">关闭</a>
					<a class="delete" href="javascript:;">删除</a>
				</span>
            </li>
			<li class="content">
				<span class="seq_num">12311</span>
				<span class="version_num">1.5.1</span>
                <span class="type">android</span>
                <span class="status">开</span>
                <span class="operation">
					<a class="change" href="javascript:;">关闭</a>
					<a class="delete" href="javascript:;">删除</a>
				</span>
            </li>
			<li class="content">
				<span class="seq_num">12311</span>
				<span class="version_num">1.5.1</span>
                <span class="type">android</span>
                <span class="status">开</span>
                <span class="operation">
					<a class="change" href="javascript:;">关闭</a>
					<a class="delete" href="javascript:;">删除</a>
				</span>
            </li>
			<li class="content">
				<span class="seq_num">12311</span>
				<span class="version_num">1.5.1</span>
                <span class="type">android</span>
                <span class="status">开</span>
                <span class="operation">
					<a class="change" href="javascript:;">关闭</a>
					<a class="delete" href="javascript:;">删除</a>
				</span>
            </li>
			<li class="content">
				<span class="seq_num">12311</span>
				<span class="version_num">1.5.1</span>
                <span class="type">android</span>
                <span class="status">开</span>
                <span class="operation">
					<a class="change" href="javascript:;">关闭</a>
					<a class="delete" href="javascript:;">删除</a>
				</span>
            </li>-->
        </ul>
		<div class="page_wrap">
<!--			<a href="javascript:;" class="cur">1</a>
			<a href="javascript:;">2</a>
			<a href="javascript:;">3</a>
			<a href="javascript:;">4</a>
			<a href="javascript:;">5</a>
			<a href="javascript:;">6</a>
			<a href="javascript:;">100</a>-->
		</div>
    </div>
</body>
<script type="text/javascript" src="../static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../static/js/core.js"></script>
<script type="text/javascript" src="../static/js/core2.js"></script>
<script type="text/javascript">
$('#J_add_version').click(function(){
	window.parent.$('body').append(tpl.new_version_wrap);
});
var flag = {
	version : false,
	check_version : function(){
		var self = this;
		var version = $.trim(window.parent.$('#new_v_name').val());
		if( version != '' ){
			window.parent.$('#J_save_version').removeClass('btn_blue_disabled');
			self.version = true;
		}else{
			window.parent.$('#J_save_version').addClass('btn_blue_disabled');
			self.version = false;
		}
	}
}
var version = {
	list_pos : 0,
	list_limit : 20,
	list_page : 1,
	list_page_max : 1,
	list : function(page_num){
		$('#J_version_list .content').remove();
		$('.page_wrap a').remove();
		showLoading();
		
		var self = this;
		var new_pos = self.list_limit * (page_num - 1);
		
		$.ajax({
			type: "POST",
			url: ajax_main_path+'libs/controller/list_v_info.php',
			data:'pos='+new_pos+'&limit='+self.list_limit,
			dataType:"JSON",
			success: function(data){
				hideLoading();
				if(data.code == 1 || data.code == '1'){
					self.list_page = page_num;
					self.list_pos = new_pos;
					
					var list_total = data.data.total;
					var page_max = Math.ceil(list_total/self.list_limit);
					
					var list_num = new_pos;
					var list_type,list_type_code,list_status,list_status_code,list_name,list_id,list_change;
					
					var version_list = data.data.list;
					
					for(version_list_i in version_list){
						list_num++;
						
						list_name = version_list[version_list_i].v_name;
						list_id = version_list[version_list_i].id;
						
						list_type_code = version_list[version_list_i].type;
						switch(list_type_code){
							case 1:
							case '1':
								list_type = 'Android';
								break;
							case 2:
							case '2':
								list_type = 'iOS';
								break;
						}
						
						list_status_code = version_list[version_list_i].status;
						switch(list_status_code){
							case 1:
							case '1':
								list_status = '开启';
								list_change = '关闭';
								break;
							case 0:
							case '0':
								list_status = '关闭';
								list_change = '开启';
								break;
						}
						
						$('#J_version_list').append(tpl.version_li.replace('{version_id}',list_id).replace('{seq_num}',list_num).replace('{version_name}',list_name).replace('{status_code}',list_status_code).replace('{type_code}',list_type_code).replace('{status}',list_status).replace('{change}',list_change).replace('{type}',list_type));
					}
					
					self.list_page_max = page_max;
					
					for(var page_i = 1; page_i<= page_max; page_i++){
						$('.page_wrap').append(tpl.page_li.replace('{page_num1}',page_i).replace('{page_num2}',page_i));
					}	
					$('.page_wrap a').eq(page_num-1).addClass('cur');
				}else if(data.code == 401){
					window.location.href = '/logout';
				}else{
					showAlert('获取应用推荐版本列表失败，请重试！');
					setTimeout(hideAlert, 1000);
				}
			},
			error:function(){
				showAlert('获取应用推荐版本列表失败，请重试！');
				setTimeout(hideAlert, 1000);
			}
		});
	},
	new_version : function(){
		var self = this;
		var v_name = $.trim(window.parent.$('#new_v_name').val());
		var type = window.parent.$('#J_new_version_type input[type="radio"]:checked').val();
		var status =window.parent.$('#J_new_version_status input[type="radio"]:checked').val();
		
		showLoading();
		
		$.ajax({
			type: "POST",
			url: ajax_main_path+'libs/controller/new_v_info.php',
			data:'v_name='+v_name+'&type='+type+'&status='+status,
			dataType:"JSON",
			success: function(data){
				hideLoading();
				if(data.code == 1 || data.code == '1'){
					window.parent.$('#J_new_version_wrap').remove();
					self.list(1);
				}else{
					showAlert('新建应用推荐版本失败，请重试！');
					setTimeout(hideAlert, 1000);
				}
			},
			error:function(){
				showAlert('新建应用推荐版本失败，请重试！');
				setTimeout(hideAlert, 1000);
			}
		});
	},
	change_version : function(_this_li){
		var id = _this_li.attr('data');
		var status = _this_li.find('.status').attr('data');
		var app_name = _this_li.find('.version_num').text();
		var type = _this_li.find('.type').attr('data');
		var status_new;
		if(status == 0){
			status_new = 1;
		}else{
			status_new = 0;
		}
		
		showLoading();
		$.ajax({
			type: "POST",
			url: ajax_main_path+'libs/controller/update_v_info.php',
			data:'id='+id+'&status='+status_new+'&type='+type+'&v_name='+app_name,
			dataType:"JSON",
			success: function(data){
				hideLoading();
				if(data.code == 1 || data.code == '1'){
					_this_li.find('.status').attr('data',status_new);
					if(status_new == 0){
						_this_li.find('.status').text('关闭');
						_this_li.find('.change').text('开启');
					}else{
						_this_li.find('.status').text('开启');
						_this_li.find('.change').text('关闭');
					}
				}else{
					showAlert('修改应用推荐版本失败，请重试！');
					setTimeout(hideAlert, 1000);
				}
			},
			error:function(){
				showAlert('修改应用推荐版本失败，请重试！');
				setTimeout(hideAlert, 1000);
			}
		});
	},
	delete_version: function(_this_li){
		var id = _this_li.attr('data');
		
		showLoading();
		$.ajax({
			type: "POST",
			url: ajax_main_path+'libs/controller/delete_v_info.php',
			data:'id='+id,
			dataType:"JSON",
			success: function(data){
				hideLoading();
				if(data.code == 1 || data.code == '1'){
					_this_li.slideUp(1000);
				}else{
					showAlert('删除应用推荐版本失败，请重试！');
					setTimeout(hideAlert, 1000);
				}
			},
			error:function(){
				showAlert('删除应用推荐版本失败，请重试！');
				setTimeout(hideAlert, 1000);
			}
		});
	}
}
$('.page_wrap a').die().live('click',function(){
	var new_page = $(this).attr('data');
	if(new_page != version.list_page){
		version.list(new_page);
	}
});
window.parent.$('#new_v_name').die().live({
	'keyup' : function(){
		flag.check_version();
	},
	'blur' : function(){
		flag.check_version();
	}
});
$('#J_version_list .delete').die().live('click',function(){
	var _this_li = $(this).parents('li');
	version.delete_version(_this_li);
});
$('#J_version_list .change').die().live('click',function(){
	var _this_li = $(this).parents('li');
	version.change_version(_this_li);
});
window.parent.$('#J_save_version').die().live('click',function(){
	if(flag.version){
		//ajax save new version
		version.new_version();
	}
});
$(document).ready(function(){
	version.list(1);
	//window.parent.$('body').append(tpl.new_version_wrap);
	// window.parent.$("#J_iframe").height(1040);
});
</script>
</html>
